/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================
    custom styles
=================================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
.h-array {
    display: flex;
}
a {
    text-decoration: none;
}

/*
=================================================
    typography
=================================================
*/
body {
    font: normal 400 14px/22px 'Inter', sans-serif;
}
.link {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 700;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 60px; /*centering logo vertically*/
}
.logo a {
    color: #F9FAF8;
}
.article,
footer {
    color: #E5E7EB;
}
h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
}
.sign-up {
    background-color: #3882F6;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    text-align: center;
    border-radius: 15px;
}
.header .sign-up {
    color: black;
}
.footer .sign-up {
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
}
.small {
    font-size: .5em;
    font-weight: 200;
    font-style: italic;
    text-align: end;
}
.quote blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    line-height: 60px;
}
.rights {
    text-align: center;
}
/*
=================================================
    header
=================================================
*/
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 50vh;
    min-height: 300px;
}
.left,
.right {
    width: 50%;
    height: 60px;
}

.right { /*Only works on elements with *-array class*/
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.intro {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0 16px;
}
.article {
    width: 520px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px
}
.cover {
    flex: 1 1 0;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cover img {
    max-height: calc(50vh - 80px);/*set image height so that height is maximized depending screen height*/
    min-height: 220px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;

}
.cover .credit {
    position: absolute;
    right: 1em;
    bottom:0;
}

/*
=================================================
    Main
=================================================
*/
.frame-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.h2 {
    margin: auto 0;
}
.projects {
    display: flex;
    justify-content: center;
    gap: 40px
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    max-width: 15%;
}
.project img {
    max-height: 30vh;
    min-height: 150px;
    max-width: 15%;
    min-width: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.brief {
    text-align: center;
}
.frame-2 {
    background-color: #E5E7EB;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 75%;
    min-width: 700px;
    margin: 0 auto;

}
.quote figcaption {
    align-self: flex-end;
}

/*
=================================================
    Footer
=================================================
*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.action-call{
    flex-grow: 1;
    display: flex;
    align-items: center;
 
}
.frame-3 {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 24px 32px;
    border-radius: 10px;
}

.message {
    max-width: 700px;
}
.rights{
    height: 80px;
    line-height: 80px;
    background-color: #1F2937;
    width: 100%;
}